<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1 style="text-align: center; color: red;">Blog</h1>
    <h2>{{ name }} </h2>
    <ul>
        {% for item in lista_tecnologias %}
        
        <li>
            {{item}}
        </li>
        {%if item == 'Django' %}
            <p style="color: orange;">MELHOR FRAMEWORK PYTHON!</p>
        {% endif %}
        {% endfor %}
    </ul>

        {% for post in posts %}  
        <div style="border: 1px solid black; text-align: center; margin: 10px;">
            <h2>
                {{post.title}}
            </h2>
            <h3>
                {{post.subtitle}}
            </h3>
            <p>{{post.content}}</p>
        </div>
       
        {% endfor %}
</body>
</html>